@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr{
    display: block;
    transition: all .5s;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
    background: #FF6B00;
    width: 22px;
    height: 8px;
    border-radius: 4px;
  }